section{
    width: 98%;
}
.item{
    width: calc(100% / 2 - 10px);
}
.box_search .item{
    width: calc(100% / 3 - 4px);

}
.logo {
    float: left;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 95px;
}
.search_hd{
    margin: 5px;
    width: calc(100% - 10px);
}
.nav{
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.nav li{
    float: left;
    margin: 5px;
    line-height: 30px;
    position: static;
    transition: all 150ms;
    padding: 2px 5px;
    border-radius: 4px;
}
.nav * a{
    font-size: .8em;
}
.nav_menu{
    padding: 10px;
    width: calc(100% - 20px);
}
#player_load,#player_load iframe{
    min-height: 265px;
    height: auto;
}
.box_img{
    width: 100%;
    /* display: none; */
}
.box_img_right{
    width: calc(100% - 10px);
    margin: 5px;
}
.box_search .rs_view_search{
    height: 65vh;
    background: transparent;
}
.item_ads{
    width: calc(100%  - 5px);
}
.item .title{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    white-space:normal
}
/* .item figure img{
    object-fit: contain;
} */
/* .box_detail_img{
    display: flex;
} */