@charset "utf-8";
ul, ol {
    list-style: none
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    /*font-size: 14px*/
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    max-width: 100%;
}

body {
    margin: auto;

    background-color: #333
}

header, article, footer, main {
    clear: both;
    float: left;
    width: 100%
}

.header_tablet, .pages_tablet, .li_tab
{
    display: none;
}

section {
    margin: auto;
    width: 1280px;
    max-width: 100%;
}
.section_1280
{
    margin: auto;
    width: 1280px;max-width: 100%;
}
.section
{
    margin: auto;
    width: 1024px;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: #fff;
}
.box_banner {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.box_pages {
    float: left;
    width: 100%;
    padding: 30px 0;
    background: #111;
}

.h_nav {
    display: none;
}


/******************** header ***********************/

.header {
    float: left;
    width: 100%;
    position: fixed;
    z-index: 6;
}

.header_top {
    float: left;
    width: 100%;
    background: #ffffff;
}

.header_top_content {
    float: left;
    width: 100%;

}

.header_top_left {
    float: left;
}

.nav {
    float: right;
}

.nav li {
    float: left;
    margin: 15px 15px 15px 0;
    line-height: 30px;
    /* position: relative; */
    transition: all 150ms;
    padding: 6px 5px;
    border-radius: 4px;

}
.nav h2{
    font-weight: normal;
    font-size: 16px;  color: #fff;
}

.nav li .nav_a {
    float: left;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    position: relative;

}
.nav * a{

    font-size: inherit;
    color: #fff;
    cursor: pointer;
}
.nav_a img {
    float: left;
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;
}

.nav li:hover .nav_a {
    color: #ff0;
}
.nav li:hover{
    background: #da966e;
}

.nav li:hover .nav_icon:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.nav_menu{
    display: none;
    position: absolute;
    width: 600px;
    z-index: 10;
    background: #333;
    right: 0;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.nav_menu li{
    float: right;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 16px;
    margin: 5px 7px;
}
.nav_menu li h4{
    font-size: 1em;
    font-weight: normal;
}
.nav li:hover .nav_menu{
    display: block;
}


.box_header{
    float: left;
    width: 100%;
}
.logo{
    float: left;
    width: 120px;
    margin: 10px 0;
    margin-top: 26px;
}
.logo img{
    width: 100%;
}
.search_hd{
    float: left;
    width: 365px;
    position: relative;
    margin-top: 12px;
    margin-left: 30px;
}
.search_hd input{
    float: left;
    width: calc(100% - 72px);
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, .1);
    padding: 9px 35px;
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    color: #fff;
}
.search_hd i{
    position: absolute;
    right: 9px;
    top: 17px;
    color: #fff;
    font-size: 18px;
    transition: all 450ms;
}

.box_search {
    float: left;
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 100;
    background: #222d38;
    display: none;
}

.box_search aside {
    margin-top: 2px;
    height: auto;
    max-height: calc(100vh - 135px);
    overflow: auto;
}

.box_search .item {
    float: left;
    width: calc(100%/3 - 4px);
    margin: 2px;
    background-color: #111;

}

/*.box_search .item figure {*/
/*    width: 60px;*/
/*    margin-left: 5px;*/
/*}*/

/*.box_search .item figure img {*/
/*    height: 100px;*/
/*}*/

/*.box_search .item aside {*/
/*    float: left;*/
/*    width: calc(100% - 85px);*/
/*    position: relative;*/
/*    text-align: left;*/
/*    height: 100%;*/
/*    background: #111;*/
/*    margin-top: 5px;*/
/*    margin-left: 10px;*/
/*}*/

/*.box_search .item aside h3 {*/
/*    font-weight: normal;*/
/*    font-size: 15px;*/
/*}*/

.rs_search {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 2px;
}

.rs_search label {
    padding: 12px 20px;
    background: #222d38;
    color: #a5a5a5;
    font-size: 14px;;
    cursor: pointer;
}

.rs_search label a {
    color: #fff;
}

.rs_search label:hover {
    background: #111;
}





.box_btn {
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.box_btn_a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 7px 0;
    font-size: 16px;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    min-width: 165px;
    min-height: 26px;
    background: #7f0707;
    border-radius: 12px 12px 0 0;
    margin: 8px 0 0;
}

.box_btn_a:before {
    position: absolute;
    right: 22px;
    top: 38%;
    width: 12px;
    height: 12px;
    visibility: hidden;
    transition: all .3s;
    content: '\f101';
    left: auto;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: transparent;
    opacity: 0;
}

.box_btn_a .svg-inline--fa {
    float: none;
    margin: 0;
    font-size: 13px;
    transition: 0.3s transform ease, 0.3s -webkit-transform ease;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    right: 22px;
    left: auto;
    top: 38%;
    position: absolute;
}

.box_btn_a:before:hover {
    opacity: 1;
    visibility: visible;
}

.box_btn_a:hover .svg-inline--fa {
    opacity: 1;
    visibility: visible;
}

/************************** km_ngang *******************************/

.box_km_ngang {
    float: left;
    width: 100%;
    margin: 35px 0 10px;
}

.box_km_ngang img {
    float: left;
    width: 100%;
}

.box_title {
    float: left;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}


.box_title_left img {
    float: left;
    width: 27px;
    height: 27px;
    margin: 0 10px 0 0;
}

.box_title_right {
    float: right;
}

.box_title_right a {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    margin: 14px 0 0;
    float: left;
}
.box_pro{
    float: left;
    width: calc(100% - 10px);
    margin: 5px;
}
/**************************** footer ************************/
.footer {
    float: left;
    width: 100%;

}
._title_h{
    color: #da966e;
    font-size: 20px;
    text-transform: capitalize;
}
.item {
    float: left;
    width: calc(100%/6 - 10px);
    margin:10px  5px;
    position: relative;
}
.item figure{
    float: left;
    width: 100%;
    padding-top: 140%;
    overflow: hidden;
    position: relative;
}
.item figure img{
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    object-fit: cover;
}
.item a{
    display: block;
    position: relative;
    background-position: 50% 50% !important;
    background-size: cover !important;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    /* padding-top: 150%; */
}
.item .play {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2) url(../play-circle.svg) center no-repeat;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: all ease-out 0.35s;
    transition: all ease-out 0.35s;
}
.item:hover .play, .item:hover .play-v {
    opacity: 1;
}
.pic-tag {
    position: absolute;
    display: inline-block;
    white-space: normal;
    text-align: left;
    line-height: 1.2em;
    padding: 5px;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    z-index: 2;
    background: #da966e;
    border-bottom: 2px solid #695e58;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}
.pic-tag-top {
    top: 5px;
    left: 0px;
}
.item aside {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    z-index: 3;
    float: left;
    width: 100%;
}
.text-overflow {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}
.item .title {
    float: left;
    width: calc(100% - 10px);
    padding: 5px;
    margin: 10px 0 0;
    font-size: 15px;
    font-weight: 700;
    color: #da966e;
}
.item .text {
    float: left;
    width: calc(100% - 10px);
    padding: 5px;
    min-height: 19px;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0px;
}

.key_s {
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key_s h1 {
    font-weight: normal;
    font-size: 14px;
}
.key_s h1 span{
    float: none;
    margin: 0 2px;
}
.key_s h3 {
    float: left;
    font-weight: normal;
    font-size: 14px;
}
.key_s span{
    float: left;
    margin: 0 2px;
}

 .pagination {
     width: 100%;
     text-align: center;
     padding: 2px;
     margin-top: 7px;
     margin-bottom: 5px;
     clear: both;
     float: left;
}

 .pagination a {
    float: left;
    padding: 6px 12px;
    width: auto;
    margin-right: 2px;
    border: 1px solid #111;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

 .pagination a:hover, div.pagination .active {
    border: 1px solid #111;
    color: #fff;
    width: auto;
    background: #111;
}

.key_s {
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key_s h1 {
    font-weight: normal;
    font-size: 14px;
}
.key_s h1 span{
    float: none;
    margin: 0 2px;
}
.key_s h3 {
    float: left;
    font-weight: normal;
    font-size: 14px;
}
.key_s span{
    float: left;
    margin: 0 2px;
}
.key_s * a,.txt_ft * a{
    color: #fff;
}

.footer_bottom {
    float: left;
    width: 100%;
    padding: 5px 0px;
    margin-top: 10px;
}

.footer_bottom span {
    float: left;
    font-size: .9em;
    color: #eeeeee;
    line-height: 25px;
    width: 100%;
    text-align: center;
}

.footer_bottom span a {
    color: #eeeeee;
}

.footer_bottom label {
    float: right;
    font-size: .9em;
    color: #eeeeee;
    line-height: 25px;
}

.footer_bottom label a {
    color: #eeeeee;
}
.txt_ft{
    float: left;
    width: 100%;
    line-height: 28px;
    text-align: center;
    font-size: .9em;
}
.btn_lienhe{
    float: left;padding: 10px;

}
.button-49,
.button-49:after {
    height: 62px;
    line-height: 58px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #5e5e5e 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #9ba5a6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    font-size: .8em;
    touch-action: manipulation;
    padding-left: 10px;
    float: right;
    margin-right: 35px;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #5e5e5e 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}
.button-49 a{
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-right: 25px;
}
.ads_bottom{
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
}
.ads_bottom{
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;align-items: center;
}
.ads_center{
    position: fixed;
    z-index: 999;
    top:30%;
    /* bottom: 0; */
    /* left: 0; */
    width: 600px;
    max-width: 80%;
    left: 10%;
    display: flex;
    left: calc(50% - 300px);
    justify-content: center;align-items: center;
}
.item_ads{
    float: left;
    width: calc(100%/2 - 5px);
    margin: 2px;
}
.item_ads img{
    width: 100%;
}
.ads_bottom .item_ads{
    width: calc(100%/2.4 - 5px);
}
#ad-container{
    background-color: #111;
}
.ads_center .item_ads{
    max-width: calc(100% - 5px);
    width: 500px;
}
.close_ads {
    position: absolute;
    background: red;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 20%;
    padding: 3px;
    cursor: pointer;
}